.product {
    display: block;
    min-width: 300px;
    margin: 10px 30px;
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0 3px 6px #C8C8C8;
}
.input {
    border: 0;
    border-bottom: 1px solid #606060;
    width: 100%;
    padding-left: 12px;
    padding-bottom: 6px;
    font-size: 16px;
    color: #A8A8A8;
}
input:focus {
    border-bottom: 1px solid #150C9D;
}

@media only screen and (min-width: 600px) {
    .product {
        max-width: 400px;
        margin: 10px auto auto auto;
    }
}
